{% extends "base.html" %}
{% block content %}

<h2 class="mb-3 text-danger">Delete Supplier</h2>

<div class="card shadow-sm">
    <div class="card-body">
        <p>Are you sure you want to delete 
           <strong>{{ supplier.supplier }}</strong>?</p>

        <form method="POST">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Yes, Delete</button>
            <a href="{% url 'supplier_list' %}" class="btn btn-secondary">Cancel</a>
        </form>
    </div>
</div>

{% endblock %}