<div class="table-responsive">
    <table class="table table-bordered table-sm table-report">
        <thead>
        <tr>
            <th>Disbursement</th>
            <th>OO1</th>
            <th>OO2</th>
            <th>OO3</th>
            <th>4.1A</th>
            <th>4.1B</th>
            <th>4.2</th>
            <th>Total</th>
        </tr>
        </thead>
        <tbody>
{% for month in months %}   
<tr>
    <td>{{ month }}</td>
    <td>-</td><td>-</td><td>-</td>
    <td>-</td><td>-</td><td>-</td>
    <td>0.00</td>
</tr>
{% endfor %}
</tbody>
    </table>
</div>