<table class="table table-bordered table-sm table-report">
<thead>
    <tr>
        <th>Disbursement</th>
        <th>MOOE</th>
        <th>Negosyo</th>
        <th>LSP-NSB</th>
        <th>LSP-PPG</th>
        <th>CARP</th>
        <th>Bamboo</th>
        <th>Coconut</th>
        <th>SB Corp</th>
        <th>Total</th>
    </tr>
</thead>
<tbody>
{% for month in months %}
<tr>
    <td>{{ month }}</td>
    <td>-</td><td>-</td><td>-</td>
    <td>-</td><td>-</td><td>-</td>
    <td>-</td><td>-</td><td>0.00</td>
</tr>
{% endfor %}
</tbody>
</table>